/***** BEGIN RESET *****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;	
}

ol, ul {
	list-style: none;
}

table{border-collapse:collapse; width:100%;}
td{vertical-align:top;}

/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, footer, address {  
    display: block;  
} 

/*-------- COLORS --------*/

/* Highlight Styles */
::-moz-selection {
    background: #000; 
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.clear {clear: both}

/*------------------------ UNIVERSAL------------------------ */
h1{
    font-weight: 400;
    font-size: 56px;
    line-height: 50px;
}

h2{
    font-weight: 400;
    font-size: 46px;
    line-height: 47px;
    color: #474747;
}

h3{

    font-size: 28px;
    font-weight: 300;
}

h4{
    font-size: 20px;
    font-weight: 400;
}

hr{
    border: 1px dashed #474747;
    opacity: 25%;
}

p{
    font-size: 14px;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: normal;
}

.white{
    color: white;
}



button{
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    font-weight: 500 !important;
}

button:hover, footer input:hover, .primary div:nth-child(3) li:nth-child(1):hover, .primary div:nth-child(3) li:nth-child(2):hover{
    background-color: #1A3C99;
    border-color: #1A3C99;
}

i:hover{
    color: #1A3C99;
}


.blue-btn{
    background-color: #3D6AE6;
    border-color: transparent;
}

.yellow-btn{
    margin-left: 0px;
    background-color: #E6B63E;
    border-color: transparent;
}

section{
    padding: 75px 50px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }


/*-------- BODY STYLES --------*/

body {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #474747;
}


/* a:link, a:visited, a:active {text-decoration:none;}
a:hover {text-decoration:none;}

*/



/***** Global text link style *****/

/* a:link, a:visited, a:active {
    color:red; 
    text-decoration:underline;
}
a:hover  {
    text-decoration: none;
    color:black;
} */


/* Header Section and Nav Styles */

header{
    background-color: #3D6AE6;
    color: white !important;
    padding: 15px;
}

nav.primary{

}

nav.primary ul li a{
    color: white !important;

}

.primary ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary img{
    width: 150px;
}

.primary div:nth-child(3) li{
    padding: 15px 25px;
    border-radius: 50px;
    margin-left: 15px;
}

.primary div:nth-child(3) li:nth-child(1){
    border: 1px solid white;
    
}

.primary div:nth-child(3) li:nth-child(2){
    background-color: #E6B63E;
}

/******* COVER ************/
.cover{
    background-color: #3D6AE6;
    color: white;
    font-weight: 400;
}

.cover h1{
    font-weight: 400;
    font-size: 56px;
    margin-bottom: 200px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #3D6AE6;
}

.cover img{
    width: 65%;
    position: absolute;
    top: 50px;
    left: 30%;
    }


/******* HOW IT WORKS SECTION ************/


.how-works{
    text-align: center;
}

.how-works h2{
    text-align: left;
    margin-bottom: 25px;
}

.how-works .container{
    gap: 50px;
    margin-bottom: 50px;
}

.how-works .container div{
    text-align: left;
}



/*  START SAVING TIME SECTION  */
    .save-time{
            background-color: #E6B63E;
            color: white;
            position: relative;
        }

    .save-time .app{
            justify-content: flex-start;
        }

    .save-time .app div:nth-child(1) p{
        width: 55%;
 
        }

    .save-time .app div:nth-child(2){
            width: 75%;
        }

    .save-time img{
        position: absolute;
        margin: 0 auto;
        width: 250px;
        left: 60%;
        top: -100px;
    }

    .save-time h2{
        margin-bottom: 25px;
    }

    .save-time p{
        margin-bottom: 100px;
    }


/*  MEMBERSHIP SECTION */

.membership h2 {
    margin-bottom: 25px;
}

.membership .container {
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}
.membership h4{
    margin-bottom: 25px;
    }

.membership a{
    color: #474747;
}

.membership .container div{
    background-color: #F5F5F5;
    border-radius: 0 50px 0 0;
    padding: 40px;
    height: 300px;
}

.membership .container .premium{
    background-color: #3D6AE6;
    color: white;
    height: 350px;
}

.membership .container .premium a{
    color: white;
}

.membership p{
    margin-bottom: 75px;
    }


/*  SCAN SECTION */

.scan{
    background-color: #3D6AE6;
    position: relative;
}

.scan h2{
    margin-bottom: 25px;
}

.scan .container{
    justify-content: space-between;
}

.scan .container div{
    width: 40%;
}

.scan .container div:nth-child(2){
    width: 60%;
}

.scan a{
    text-decoration-color: white;
}

.scan p{
    margin-bottom: 100px;
    color: white;
    width: 75%;
}

.polygon{
    fill: #E6B63E;
    width: 65%;
    margin: 0 auto;
    display: block;
}

.scan img{
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: -75px;
    width: 37%;
}

/*  EXTRA LEVEL OF SECURITY SECTION */

.security{
    position: relative;
}

.security p{
    width: 75%;
}

.security .container{
    justify-content: space-between !important;
}

.security .container div{
    width: 40%;
}

.security .container div:nth-child(2){
    width: 50%;
}

.security .container p{
    margin-bottom: 100px;
}

.security h2{
    margin-bottom: 25px;
}


.security img{
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: block;
}


.polygon-blue{
    fill: #3D6AE6;
    border-radius: 0 120px 0 0;
    height: 200px;
    top: 275px;
    margin-left: -25px;
    margin-top: 25px;
    position: absolute;
}


/* Footer section styles */

footer{
    background-color: #E6B63E;
    color: white;
    padding: 50px 50px 30px 50px !important;
}

footer .logo{
    width: 150px;

}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 28px;
    margin: 25px 0;
}

.footer-nav ul{
    margin-right: 60px;
    font-size: 14px;
    letter-spacing: normal;
}

footer .container{
    justify-content: space-between;
    align-items: baseline;
}

footer h3{
    line-height: 30px;
}

.bold{
    font-weight: 700;
    font-size: 16px;
}

footer form{
    margin-top: 25px;
}

footer #fname{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px;
}

footer #fname{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: 10px 10px 10px 20px;
    color: white;
    color: rgb(255,255,255, 0.4)
}


#fname textarea{
    padding-left: 10px;
}


footer input{
    color: white;
    padding: 11px 25px;
    border: none;
    border-radius: 50px;
    background-color: #3D6AE6;
    margin-left: 5px;
    margin-bottom: 10px;
}

footer .apps{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0;

}

footer .apps img{
    width: 100px;
    padding-right: 15px;

}

.footer-menu{
    font-size: 12px;
 /*   font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: normal; */
    font-weight: 100 !important;
    letter-spacing: normal;
    margin: 25px 0 0 0;

}

.social-media li:nth-child(1){
    padding-right: 25px;
    font-weight: 400;
}

.social-media li{
    display: inline;
    padding-right: 10px;
}

.policy li{
    display: inline;
    padding-left: 15px;
}

.white-hr{
    border: 1px solid white;
}

.policy li:nth-child(3){
    padding-right: 15px;
}

.policy li:nth-child(4){
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 15px;
}

.mobile{
    display: none;
}

/*-----------MEDIA QUERY ---------------*/

@media screen and (max-width: 1150px){
	.cover img{
        width: 65%;
        position: absolute;
        top: 100px;
        }

}


@media screen and (max-width: 1003px){

    .membership .container{
        gap: 25px;
    }

    .membership .container div{
        align-items: stretch;
        padding: 25px;
    }
   
}



@media screen and (max-width: 860px){
	.cover h1{
        margin-bottom: 250px;
    }

    .cover img{
        width: 65%;
        position: absolute;
        top: 110px;
        }

    .how-works .container{
        align-items: baseline;
        margin-bottom: 25px;
    }

    .how-works .container div{
        padding: 15px 15px 15px 0;
    }

    h2{
        font-size: 40px;
    }

    h3{
        font-size: 26px;
    }

    .cover img{
        width: 60%;
        top: 120px;
        left: 25%;
        }

        .cover{
            padding: 25px 50px;
        }

        /*----------- MEMBERSHIP SECTION ---------------*/

        .membership .container{
            gap: 15px;
        }

        .membership .container div{
            align-items: stretch;
            padding: 20px;
        }

        .scan br{
            display: none;
        }

        .scan img{
            top:35px
        }
            

}

@media screen and (max-width: 800px){
    /*

    .membership .container div{
        padding: 25px 25px;
        }

        */
}

@media screen and (max-width: 700px){

    h4{
        font-size: 18px;
    }

    .cover{
        position: relative;
    }

    .cover h1{
        margin-bottom: 25px; 
    }

    .cover h1 br{
        display: none;
    }

    .cover img{
        position: inherit;
        width: 75%;
        left: auto;
        top: auto;
    }

    .desktop-tablet{
        display: none;
    }

    .mobile-tablet{
        display:block;
    }

    .save-time p{
        margin-bottom: 50px;
    }

    .save-time .app div:nth-child(1) p{
        width: 75%;
    }

    .scan p{
        margin-bottom: 50px;
        width: 100%;
    }

    .security .container p{
        margin-bottom: 50px;;
    }

    .security img{
        width: 250px;
    }

    .polygon-blue{
        height: 125px;
        border-radius: 0 100px 0 0;
    }

    footer .container{
        flex-direction: column;
    }
}

@media screen and (max-width: 680px){

   /*----------- MEMBERSHIP SECTION ---------------*/
   .membership .container{
    flex-direction: column;        
    }

    .membership .container div{
        padding: 40px;
    }
    
    .how-works{
        margin-top: -55px;
        text-align: left;
    }

    .how-works .container{
        flex-direction: column;
        gap: 25px;
    }

    .save-time img{
        width: 200px;
        top: -65px;
    }

}



@media screen and (max-width: 530px){
    .custom-shape-divider-bottom{
        visibility: hidden;
    }


    .cover .mobile{
        margin: 25px 0;
    }

    .desktop{
        display: none;
    }

    .nav{
        display: none;
    }

    .mobile{
        display:block;
    }

    .save-time .app{
        flex-direction: column;
    }

    .save-time .container div{
        width: 100% !important;
    }

    .app h2 br{
        display: none;
    }

    .save-time .app div:nth-child(1) p{
        width: 100%;
    }
    
    .save-time .blue-btn{
        margin-top: 50px;
    }

    .save-time img{
        position: relative;
        margin: 0 auto;
        width: 100%;
        left:auto;
        top: auto;
    }

    .scan .container{
        flex-direction: column;
    }

    .scan .container div{
        width: 100% !important;
    }

    .scan .container div:nth-child(1){
       position: inherit;
    }


    .scan .mobile{
        text-align: left;
    }

    .scan img{
        width: 75%;
        left: auto;
        top: 228px;
    }

    .section{
        padding: 0px;
    }

    .polygon{
        width: 100%;
        position: relative;
    }

    .scan .mobile{
        margin-top: 100px;
    }


    .security .container{
        flex-direction: column;
    }

    .security .container div{
        width: 100% !important;
    }

    .security p{
        width: 100%;
    }
    .security .container p{
    margin-bottom: 10px;
    }

    .security h2 br{
        display: none;
    }

    .security img{
        width: 75%;
    }
    .polygon-blue{
        top: auto;
        margin-left: 23px;
        margin-top: -90px;
        border-radius: 0 150px 0 0;

    }

    .security .mobile{
        align-self: flex-start;
        margin-top: 100px;
    }

    .footer-nav{
        flex-direction: column;
        width: 100%;
    }

    .accordion-item{
        width:100%;

    }

   .accordion-title{
    display: flex; 
    justify-content: space-between;
    padding-bottom: 10px;
    }

    .accordion-title i{
        font-size: 10px;
        }
    

    .accordion-content{
        padding-bottom: 10px;
        }


    .hidden{
        display: none;
    }

    .accordian-title{
        display: flex;
        justify-content: space-between;
    }

    .container.social-mobile{
        flex-direction: row !important;
        font-weight: 700;
        margin-top: 25px;
    }

    .container.policy-mobile{
        flex-direction: row !important;
    }

    .policy li{
        padding: auto;
    }

    .social-media li:nth-child(1){
        padding-right: 10px;
    }

    .policy li:nth-child(1){
        padding-left: 0px;
    }

    
    .policy li:nth-child(4){
        padding-left: 15px;
    }

    footer .apps img{
        width: 120px;
        height: auto;
    }
}

@media screen and (max-width:400px){

    .cover h1{
        font-size: 50px;
    }

    .scan img{
        top: 270px;
        width: 70%;
    }
}

@media screen and (max-width:360px){
    footer .apps{
        flex-direction: column !important;
        gap: 10px;
    } 

    .scan img{
        top: 200px;
        width: 68%;
    }

    .cover{
        padding: 25px;
    }


    section{
        padding: 25px;
    }

    .cover .mobile{
        display: flex;
        justify-content: space-between;
    }

    footer{
        padding: 25px !important;
    }

    footer .apps{
        margin-bottom: 0px;
    }
}


@media screen and (max-width:300px){

    section{
        padding: 25px;
    }
    .cover{
        padding: 25px;

    }
    .cover h1{
        font-size: 36px;
        line-height: 34px;
    }
  
    .how-works{
        margin-top: 0;
    }

    .how-works .container{
        gap: 0px;
    }

    .how-works .container div{
        padding: 10px 10px 10px 0;
    }

    .save-time .blue-btn{
        margin-top: 25px;
    }

    .scan img{
        top: 280px;
    }

    .mobile{
        display: block;
    }
}
